<meta charset="utf-8">
<html>

<head>
	<!--  JS & bootstrap import -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!--  JS code -->
    <script>
        var page_number = 3
        function addBoardHeader(item) {
            var boardHeader = "<tr>"

            for (key in item) {
                if (key == 'url') {
                    continue;
                }
                boardHeader += "<th>" + key + "</th>";
            }

            boardHeader += "</tr>"
            return boardHeader;
        }
        function addboardItem(item) {
            var boardItem = "<tr>"

            for (key in item) {
                if (key == 'url') {
                    continue;
                }
                boardItem += "<td>" + item[key] + "</td>";
            }
            boardItem += "</tr>"
            return boardItem;
        }
	
        $(document).ready(function () {
			//ajax 통신
			$.ajax({
                type: "GET",
                url: "/api/youtuber/?page="+page_number,
                async: true,
                success: function (data) {
                    var youtubers = data['results'];
                    if (youtubers.length > 0) {
                        $('#board_list').append(addBoardHeader(youtubers[0]))
                        for (var i = 0, item; item = youtubers[i]; i++) {
                            $('#board_list').append(addboardItem(youtubers[i]))
                        }
                    }
                }
            })
        })
    </script>
</head>
<title>DJANGO REST 게시판</title>
<center>
    <h1>DJANGO REST 게시판</h1>
    <div style="width: 80%;">
        <table id="board_list" class="table table-striped">
            <!-- 게시판 목록이 표시될 곳 -->
        </table>
    </div>
</center>
</html>