{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>youha</title>
    <!-- fontawesome css cdn-->
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <script src="https://kit.fontawesome.com/284cf574a6.js" crossorigin="anonymous"></script>
    <!-- normalize css cdn-->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <!-- global css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="main-page">
    <header>
        {% include 'partials/navbar.html' %}
    </header>

    <div class="container">
        <h1>youha</h1>
        <a href="/youtuber" style="text-decoration:none">
            <h2 id="first"><i class="fa-brands fa-youtube fa-xl"></i>&nbspInfluencer List <i class="fa-sharp fa-solid fa-arrow-right fa-xl"></i></h2>
        </a>
        <a href="http://54.197.38.21:9000/" style="text-decoration:none"  target="_blank">
            <h2 id="second"><i class="fa-solid fa-pen-to-square fa-xl"></i>&nbspYeongUk's portfolio <i class="fa-sharp fa-solid fa-arrow-right fa-xl"></i></h2>
        </a>
    </div>

    {% include 'partials/footer.html' %}

</body>

</html>